body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.contact ol,
.education ol,
.skills ol,
.work-experience ol,
.references ol {
    list-style-type: none;
    padding: 0;
}

.contact li,
.education li,
.skills li,
.work-experience li,
.references li {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile p,
.work-experience p {
    margin-bottom: 10px;
}

.skills ol {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background: #e9ecef;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 1.2em;
    }

    .skills ol {
        flex-direction: column;
    }

    .skills li {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
        padding: 10px;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 1em;
    }

    .section {
        margin-bottom: 20px;
    }

    .contact li,
    .education li,
    .skills li,
    .work-experience li,
    .references li {
        margin-bottom: 10px;
    }
}
